* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: #111111fe;
  color: #fff;
  height: 100vh;
  font-family: "Arial", "Helvetica", sans-serif;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #111111;
  color: #fff;
  position: sticky;
  top: 0;
  padding: 10px 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
ul {
  display: flex;
  list-style-type: none;
  gap: 60px;
  align-items: center;
}
ul li {
  cursor: pointer;
  transition: 0.5s ease-in-out;
  border-bottom: 3px solid transparent;
}
ul li a {
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  color: grey;
}
ul li a:hover {
  color: crimson;
  transition: 0.5s ease-in-out;
}
.start {
  background-color: blue;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}
.start:hover {
  background-color: lightblue;
}
